<style>
  
#miDiv {
  width: 500px;
  height: 281px; 
  background-image: Fotos/Vueling-Airlines-Logo-500x281.PNG;
  background-size: cover; 

<body>
      font-family: "nunitosans Semibols", sans-serif, Verdana;
      background-color: #f0f0f0;
}
h2{
color: #757575;
}
</style>